{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}

<div class="page">
  <div class="header">
    {{#with header}}
    <header class="header__content">
      <div class="header__block">
        <img src="/svg/apple.svg" alt="Apple" class="header__icon">

        <nav class="header__block">
          {{#each links}}
          <a href="{{url}}" class="header__link">{{text}}</a>
          {{/each}}
        </nav>

      </div>
      <div class="header_action">
        <img src="/svg/search.svg" alt="Search" class="header__icon">
        <img src="/svg/profile.svg" alt="Profile" class="header__icon">
      </div>
      {{!-- {{#with ad}}
      <div class="ad">
        <p class="ad_content"> {{title}} </p>

      </div>
      {{/with}} --}}

    </header>
  </div>
  <div class="ad_block">
    {{#with ad}}
    <div class="ad_content">
      <p class="ad__title"> {{title}} </p>
      <div class="ad__link">
        {{#with link}}
        <a href="{{url}}" class="product__link header__icon ad--link">{{text}}</a>
        {{/with}}
      </div>
    </div>
    {{/with}}
  </div>

  {{/with}}

  {{#with iphone_pro}}
  <section class="product product-big product--iphone-pro product--dark product--top">
    <div class="ptoduct__content">
      <h1 class="product_title">{{title}} </h1>
      <p class="product__description"> {{descriptions}} </p>
      <div class="product_action">
        {{#with link}}
        {{#each text}}
        <a href="{{../link}}" class="product__link"> {{this}} </a>
        {{/each}}
        {{/with}}
      </div>
    </div>
  </section>
  {{/with}}

  {{#with iphone}}
  <section class="product product-big product--iphone product--light product--top">
    <div class="ptoduct__content">
      <h1 class="product_title">{{title}} </h1>
      <p class="product__description"> {{descriptions}} </p>
      <div class="product_action">
        {{#with link}}
        {{#each text}}
        <a href="{{../link}}" class="product__link"> {{this}} </a>
        {{/each}}
        {{/with}}
      </div>
    </div>
  </section>
  {{/with}}

  {{#with iwatch}}
  <section class="product product-big product--iwatch product--dark product--top">
    <div class="ptoduct__content">
      <h1 class="product_title">{{title}} </h1>
      <p class="product__description"> {{descriptions}} </p>
      <div class="product_action">
        {{#with link}}
        {{#each text}}
        <a href="{{../link}}" class="product__link"> {{this}} </a>
        {{/each}}
        {{/with}}
      </div>
    </div>
  </section>
  {{/with}}

  <div class="section__double">
    <div>
      {{#with trade_in}}
      <section class="product product-small product--trade-in product--light product--top">
        <div class="ptoduct__content">
          <h1 class="product_title">{{title}} </h1>
          <p class="product__description"> {{descriptions}} </p>
          <div class="product_action">
            {{#with link}}
            <a href="{{link}}" class="product__link"> {{text}} </a>
            {{/with}}
          </div>
        </div>
      </section>
      {{/with}}
    </div>
    <div>
      {{#with conference}}
      <section class="product product-small product--conference product--dark product--botton">
        <div class="ptoduct__content">
          <h1 class="product_title">{{title}} </h1>
          <p class="product__description"> {{descriptions}} </p>
          <div class="product_action">
            {{#with link}}
            <a href="{{link}}" class="product__link"> {{text}} </a>
            {{/with}}
          </div>
        </div>
      </section>
      {{/with}}
    </div>
    <div>
      {{#with ipad}}
      <section class="product product-small product--ipad product--light product--top">
        <div class="ptoduct__content">
          <h1 class="product_title">{{title}} </h1>
          <p class="product__description"> {{descriptions}} </p>
          <div class="product_action">
            {{#with link}}
            {{#each text}}
            <a href="{{../link}}" class="product__link"> {{this}} </a>
            {{/each}}
            {{/with}}
          </div>
        </div>
      </section>
      {{/with}}
    </div>
    <div>
      {{#with small_business}}
      <section class="product product-small product--small_business product--dark product--top">
        <div class="ptoduct__content">
          <h1 class="product_title">{{title}} </h1>
          <p class="product__description"> {{descriptions}} </p>
          <div class="product_action">
            {{#with link}}
            <a href="{{link}}" class="product__link"> {{text}} </a>
            {{/with}}
          </div>
        </div>
      </section>
      {{/with}}
    </div>
    <div>
      {{#with gift}}
      <section class="product product-small product--gift product--light product--top">
        <div class="ptoduct__content">
          <h1 class="product_title">{{title}} </h1>
          <p class="product__description"> {{descriptions}} </p>
          <div class="product_action">
            {{#with link}}
            <a href="{{link}}" class="product__link"> {{text}} </a>
            {{/with}}
          </div>
        </div>
      </section>
      {{/with}}
    </div>
    <div>
      {{#with card}}
      <section class="product product-small product--card product--light product--top">
        <div class="ptoduct__content">
          <h1 class="product_title">{{title}} </h1>
          <p class="product__description"> {{descriptions}} </p>
          <div class="product_action">
            {{#with link}}
            <a href="{{link}}" class="product__link"> {{text}} </a>
            {{/with}}
          </div>
        </div>
      </section>
      {{/with}}
    </div>

  </div>
  <footer class="footer_block">
    <div class="footer_content">
      {{#each footer}}

      <div class="footer_item__block">
        <h3 class="footer_item_title">{{title}}</h3>
        <div class="footer_item-group">
          {{#each links}}
          <div class="footer__item">
            <a href="{{url}}" class="product__link"> {{text}} </a>
          </div>
          {{/each}}
        </div>
      </div>
      {{/each}}

    </div>

  </footer>

</div>

{{!
Цей код містить лише те, що буде виводитись в

<body>
  Адже наш layout/default.hbs має вже структуру HTML
  }}